main {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 30px;
}

.ql-editor {
  height: 500px;
}

.ql-editor .quill-custom-column {
  border: 1px dotted;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 200px;
  vertical-align: top;
}

.quill-custom-column ~ .quill-custom-column {
  margin-top: 5px;
}

/* .quill-custom-column > img {
  display: block;
} */

.flex-column {
  min-height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}

.flex-column ~ .flex-column {
  border-left: 1px dotted;
}

.spanblock {
  width: 0;
  height: 0;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.dl-subtitle {
  margin-bottom: 10px;
}

.dl-description {
  width: 100%;
  margin-bottom: 10px;
}

.modal-content button {
  padding: 5px;
  cursor: pointer;
}

@media screen and (min-width: 641px) {
  .quill-custom-column {
    display: inline-block;
    width: 50%;
  }

  /* .quill-custom-column:nth-of-type(odd) + .quill-custom-column {
        border-left: none;
    } */
}
